table {
    border-collapse: collapse;
    width: 50%;
    margin: 30px auto;
    background-color: #f0f0f0;
}

caption {
    margin-bottom: 10px;
    font-style: italic;
}

th, td {
    border: 1px solid black;
    padding: 8px 12px;
    text-align: center;
}

th {
    background-color: #e0e0e0;
}

b {
    font-weight: bold;
}
